*{
    box-sizing:border-box;
}
body{
    margin:5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightcoral;
    color: black;
}
.flexcontainer{
    display:flex;
    flex-wrap:wrap;
    padding:0 4px;
}
.column{
    flex:25%;
    max-width:33%;
    padding:20px;
}
.column img{
    margin-top:10px;
    border:2px solid black;
}
img{
    filter:grayscale(80%);
    -webkit-filter:grayscale(50%);
}
img:hover{
    filter:grayscale(0%);
    -webkit-filter:grayscale(0%);
}
@media screen and (max-width:600px){
    .column{
        flex:100%;
        max-width:100%;
    }
}
.heading{
    text-align:center;
    padding:32px;
    
}